<!-- INSERT THIS CODE VIA W3C INCLUDE -->


<div class="design_template">
    <div class="nav_bar">
        <div class="left_top_header">
            <img class="header_logo" src="./img/header_logo.png" alt="Join logo">
            <div id="menu" class="menu">
                <div class="summary"><a href="./summary.html"><img src="./img/Summary.png"
                            alt="Summary Image">Summary</a></div>
                <div class="add_tasks"><a href="./add_task.html"><img src="./img/Add task.png" alt="Add Task Image">Add
                        Task</a>
                </div>
                <div class="board"><a href="./board.html"><img src="./img/Board.png" alt="Bord Image">Board</a></div>
                <div class="contacs"><a href="./contacts.html"><img src="./img/Contacts.png"
                            alt="Contacts Image">Contacts</a>
                </div>
            </div>
        </div>
        <div class="legal">
            <span><a href="./privacy.html">Privacy Policy</a></span>
            <span><a href="./legal_notice.html">Legal notice</a></span>
        </div>
    </div>
    <div class="menu_header_container" id="headerMenu">
        <div class="menu_header">
            <a href="./legal_notice.html">Legal Notice</a>
            <a href="./privacy.html">Privacy Policy</a>
            <a id="logOut" href="/index.html">Log out</a>
        </div>
    </div>
    <div class="header_and_content">
        <header> <span>Kanban Project Management Tool</span>
            <img class="header_logo_mobile" src="./img/login_logo.png" alt="Join logo">
            <div class="buttons_header"><button class="question_mark"><a href="./help.html"><img
                            src="./img/help_button.png" alt="Go to Help Page"></a>
                </button>
                <button class="profile_tag" id="profileButton" onclick="openHeaderMenu()"></button>