<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/font.css">
    <link rel="stylesheet" href="./assets/css/header.css">
    <script src="./assets/js/w3c_include.js"></script>
    <title>title</title>
</head>

<body onload="includeHTML()">
    <div w3-include-html="./assets/template/design_template.html"></div>


    <div class="main-content">
        <!-- Place your content in this space -->
    </div>

</body>

</html>